workflows/generated/process-invoice/20260407_054726_attempt01.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{triggerBody()?['function']}"
        },
        "runAfter": {},
        "outputs": {
          "body": "@{triggerBody()}"
        }
      }
    },
    "actions": {
      "Init_Counters": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "JournalBatchNumber",
              "type": "String",
              "value": ""
            },
            {
              "name": "FailedRecords",
              "type": "Array",
              "value": "[]"
            },
            {
              "name": "SuccessCount",
              "type": "Integer",
              "value": 0
            },
            {
              "name": "FailCountFunction",
              "type": "Integer",
              "value": 0
            },
            {
              "name": "FailCountD365",
              "type": "Integer",
              "value": 0
            },
            {
              "name": "RowKey",
              "type": "String",
              "value": ""
            },
            {
              "name": "D365Failed",
              "type": "Array",
              "value": "[]"
            }
          ]
        },
        "runAfter": {
          "manual": [
            "Succeeded"
          ]
        }
      },
      "Loop_FailedRecords": {
        "type": "ForEach",
        "inputs": {
          "forEach": "@{coalesce(triggerBody()?['failedRecords'], [])}",
          "actions": {
            "Append_FailedRecords": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "FailedRecords",
                "value": "@{item()}"
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Init_Counters": [
            "Succeeded"
          ]
        }
      },
      "Increment_FailCountFunction": {
        "type": "IncrementIntegerVariable",
        "inputs": {
          "name": "FailCountFunction",
          "value": "@{length(coalesce(triggerBody()?['failedRecords'], []))}"
        },
        "runAfter": {
          "Loop_FailedRecords": [
            "Succeeded"
          ]
        }
      },
      "Query_CosmosDB": {
        "type": "AzureCosmosDB",
        "inputs": {
          "method": "GetDocuments",
          "uri": "@{appsetting('cosmos_database_id')}/rms_tc01",
          "query": "SELECT * FROM c WHERE c.IsExported = 'F'"
        },
        "runAfter": {
          "Increment_FailCountFunction": [
            "Succeeded"
          ]
        }
      },
      "Loop_CosmosDB": {
        "type": "ForEach",
        "inputs": {
          "forEach": "@{body('Query_CosmosDB')}",
          "actions": {
            "Patch_CosmosDB": {
              "type": "AzureCosmosDB",
              "inputs": {
                "method": "PatchDocument",
                "uri": "@{appsetting('cosmos_database_id')}/rms_tc01",
                "id": "@{item().id}",
                "partitionKey": "@{item().partitionKey}",
                "body": {
                  "IsExported": "N"
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Query_CosmosDB": [
            "Succeeded"
          ]
        }
      },
      "Try_Scope": {
        "type": "Scope",
        "inputs": {
          "actions": {
            "Get_Secret": {
              "type": "KeyVault",
              "inputs": {
                "method": "GetSecret",
                "uri": "@{appsetting('action_token_url')}"
              },
              "runAfter": {}
            },
            "Post_ActionToken": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{appsetting('action_token_url')}",
                "headers": "@{appsetting('action_token_header')}",
                "body": "@{body('Get_Secret')}"
              },
              "runAfter": {
                "Get_Secret": [
                  "Succeeded"
                ]
              }
            },
            "Parse_TokenResponse": {
              "type": "ParseJson",
              "inputs": {
                "content": "@{body('Post_ActionToken')}",
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "Post_ActionToken": [
                  "Succeeded"
                ]
              }
            },
            "Create_JournalHeader": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{appsetting('d365_ledger_journal_url')}",
                "headers": {
                  "Authorization": "@{concat('Bearer ', body('Parse_TokenResponse')?['access_token'])}"
                },
                "body": {
                  "JournalName": "RMSTC",
                  "Description": "@{concat('TGG_RMS_TC01_', utcNow('yyyy-MM-ddTHH:mm:ssZ'))}",
                  "IntegrationKey": "",
                  "dataAreaId": "302"
                }
              },
              "runAfter": {
                "Parse_TokenResponse": [
                  "Succeeded"
                ]
              }
            },
            "Parse_JournalHeaderResponse": {
              "type": "ParseJson",
              "inputs": {
                "content": "@{body('Create_JournalHeader')}",
                "schema": {
                  "type": "object",
                  "properties": {
                    "JournalBatchNumber": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "Create_JournalHeader": [
                  "Succeeded"
                ]
              }
            },
            "Set_JournalBatchNumber": {
              "type": "SetVariable",
              "inputs": {
                "name": "JournalBatchNumber",
                "value": "@{body('Parse_JournalHeaderResponse')?['JournalBatchNumber']}"
              },
              "runAfter": {
                "Parse_JournalHeaderResponse": [
                  "Succeeded"
                ]
              }
            },
            "Query_CosmosDB_ForProcessing": {
              "type": "AzureCosmosDB",
              "inputs": {
                "method": "GetDocuments",
                "uri": "@{appsetting('cosmos_database_id')}/rms_tc01",
                "query": "SELECT * FROM c WHERE c.IsExported = 'N'"
              },
              "runAfter": {
                "Set_JournalBatchNumber": [
                  "Succeeded"
                ]
              }
            },
            "Loop_CosmosDB_ForProcessing": {
              "type": "ForEach",
              "inputs": {
                "forEach": "@{body('Query_CosmosDB_ForProcessing')}",
                "actions": {
                  "Post_D365": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "@{appsetting('D365POSTLINESURL')}",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', body('Parse_TokenResponse')?['access_token'])}"
                      },
                      "body": {
                        "JournalBatchNumber": "@{variables('JournalBatchNumber')}",
                        "AccountType": "@{item().AccountType}",
                        "AccountDisplayValue": "@{item().AccountDisplayValue}",
                        "Text": "@{item().Text}",
                        "OffsetAccountDisplayValue": "@{item().OffsetAccountDisplayValue}",
                        "OffsetText": "@{item().OffsetText}",
                        "DocumentDate": "@{formatDateTime(item().DocumentDate, 'yyyy-MM-ddTHH:mm:ssZ')}",
                        "CreditAmount": "@{item().CreditAmount}",
                        "CurrencyCode": "@{item().CurrencyCode}",
                        "DebitAmount": "@{item().DebitAmount}",
                        "Document": "@{item().Document}",
                        "dataAreaId": "302"
                      }
                    },
                    "runAfter": {}
                  },
                  "Patch_CosmosDB_ForProcessing": {
                    "type": "AzureCosmosDB",
                    "inputs": {
                      "method": "PatchDocument",
                      "uri": "@{appsetting('cosmos_database_id')}/rms_tc01",
                      "id": "@{item().id}",
                      "partitionKey": "@{item().partitionKey}",
                      "body": {
                        "IsExported": "Y",
                        "JOURNALBATCHNUMBER": "@{variables('JournalBatchNumber')}"
                      }
                    },
                    "runAfter": {
                      "Post_D365": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Increment_SuccessCount": {
                    "type": "IncrementIntegerVariable",
                    "inputs": {
                      "name": "SuccessCount",
                      "value": 1
                    },
                    "runAfter": {
                      "Patch_CosmosDB_ForProcessing": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Catch_D365_Error": {
                    "type": "Scope",
                    "inputs": {
                      "actions": {
                        "Append_D365Failed": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "D365Failed",
                            "value": {
                              "RowKey": "@{item().RowKey}",
                              "partitionKey": "@{item().partitionKey}",
                              "ErrorTime": "@{utcNow('yyyy-MM-ddTHH:mm:ssZ')}",
                              "ErrorMessage": "@{body('Post_D365')?['error']?['message']}"
                            }
                          },
                          "runAfter": {}
                        },
                        "Patch_CosmosDB_ForD365Error": {
                          "type": "AzureCosmosDB",
                          "inputs": {
                            "method": "PatchDocument",
                            "uri": "@{appsetting('cosmos_database_id')}/rms_tc01",
                            "id": "@{item().id}",
                            "partitionKey": "@{item().partitionKey}",
                            "body": {
                              "IsExported": "F",
                              "JOURNALBATCHNUMBER": "@{variables('JournalBatchNumber')}"
                            }
                          },
                          "runAfter": {
                            "Append_D365Failed": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Increment_FailCountD365": {
                          "type": "IncrementIntegerVariable",
                          "inputs": {
                            "name": "FailCountD365",
                            "value": 1
                          },
                          "runAfter": {
                            "Patch_CosmosDB_ForD365Error": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Post_D365": [
                        "Failed"
                      ]
                    }
                  }
                }
              },
              "runAfter": {
                "Query_CosmosDB_ForProcessing": [
                  "Succeeded"
                ]
              }
            },
            "Delay_5Seconds": {
              "type": "Delay",
              "inputs": {
                "interval": {
                  "count": 5,
                  "unit": "Second"
                }
              },
              "runAfter": {
                "Loop_CosmosDB_ForProcessing": [
                  "Succeeded"
                ]
              }
            },
            "Post_SubmitToWorkflow": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{appsetting('submit_to_workflow')}",
                "body": {
                  "JournalBatchNumber": "@{variables('JournalBatchNumber')}",
                  "dataAreaId": "302"
                }
              },
              "runAfter": {
                "Delay_5Seconds": [
                  "Succeeded"
                ]
              }
            },
            "Upsert_TableStorage": {
              "type": "AzureTable",
              "inputs": {
                "method": "UpsertEntity",
                "uri": "@{appsetting('table_storage_name')}/D365FileStatus",
                "PartitionKey": "RMS_TC01",
                "RowKey": "@{guid()}-@{utcNow('yyyy-MM-ddTHH:mm:ssZ')}",
                "body": {
                  "Integration_name": "@{triggerBody()?['function']}",
                  "data_area_Id": "302",
                  "is_auto_post": true,
                  "journal_batch_number": "@{variables('JournalBatchNumber')}",
                  "status": "@{body('Post_SubmitToWorkflow')?['status']}",
                  "success_count": "@{variables('SuccessCount')}",
                  "total_count": "@{triggerBody()?['totalRows']}",
                  "error": "@{concat('Function: ', variables('FailCountFunction'), ', D365: ', variables('FailCountD365'))}"
                }
              },
              "runAfter": {
                "Post_SubmitToWorkflow": [
                  "Succeeded"
                ]
              }
            },
            "Update_TableStorage": {
              "type": "AzureTable",
              "inputs": {
                "method": "UpdateEntity",
                "uri": "@{appsetting('table_storage_name')}/IntegrationHealthSummary",
                "PartitionKey": "@{triggerBody()?['function']}",
                "RowKey": "@{triggerBody()?['summaryRowKey']}",
                "body": {
                  "d365Inserted": "@{variables('SuccessCount')}",
                  "d365Failed": "@{variables('FailCountD365')}",
                  "journalBatch": "@{variables('JournalBatchNumber')}",
                  "status": "Done",
                  "errorSummary": "@{concat('Function: ', variables('FailCountFunction'), ', D365: ', variables('FailCountD365'))}",
                  "reported": false
                }
              },
              "runAfter": {
                "Upsert_TableStorage": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "runAfter": {
          "Loop_CosmosDB": [
            "Succeeded"
          ]
        }
      },
      "Catch_Scope": {
        "type": "Scope",
        "inputs": {
          "actions": {
            "Send_FailureEmail": {
              "type": "Office365",
              "inputs": {
                "method": "SendEmail",
                "to": "@{appsetting('failure_email_address')}",
                "subject": "Errors in RMSTC01 SVT",
                "body": "@{concat('ENV: ', environment().name, ', Failure: ', utcNow('yyyy-MM-ddTHH:mm:ssZ'), ', JournalBatchNumber: ', variables('JournalBatchNumber'))}"
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Try_Scope": [
            "Failed",
            "TimedOut",
            "Skipped"
          ]
        }
      },
      "PostTry_FailureEmail": {
        "type": "If",
        "inputs": {
          "condition": "@{or(greater(length(variables('FailedRecords')), 0), greater(length(variables('D365Failed')), 0))}",
          "actions": {
            "Send_FailureSummaryEmail": {
              "type": "Office365",
              "inputs": {
                "method": "SendEmail",
                "to": "@{appsetting('failure_email_address')}",
                "subject": "Failure Summary in RMSTC01 SVT",
                "body": "@{concat('<html><body><h2>Failure Summary</h2><p>RunId: ', triggerBody()?['runId'], ', Timestamp: ', utcNow('yyyy-MM-ddTHH:mm:ssZ'), ', JournalBatchNumber: ', variables('JournalBatchNumber'), '</p><p>Function Failure Count: ', variables('FailCountFunction'), ', D365 Success Count: ', variables('SuccessCount'), ', D365 Failure Count: ', variables('FailCountD365'), '</p><pre>Function Failed Records:</pre>', string(variables('FailedRecords')), '<pre>D365 Failed Records:</pre>', string(variables('D365Failed')), '</body></html>')}"
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Try_Scope": [
            "Succeeded",
            "Failed",
            "TimedOut",
            "Skipped"
          ]
        }
      }
    },
    "outputs": {}
  },
  "parameters": {}
}