workflows/generated/process-invoice/20260407_063457_attempt02.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "function": {
                "type": "string"
              },
              "runId": {
                "type": "string"
              },
              "totalRows": {
                "type": "integer"
              },
              "transformedCount": {
                "type": "integer"
              },
              "cosmosInsert": {
                "type": "object",
                "properties": {
                  "totalRecords": {
                    "type": "integer"
                  },
                  "inserted": {
                    "type": "integer"
                  },
                  "failed": {
                    "type": "integer"
                  }
                }
              },
              "failedRecords": {
                "type": "array"
              }
            }
          },
          "method": "POST"
        }
      }
    },
    "actions": {
      "Init_Counters": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "JournalBatchNumber",
              "type": "String",
              "value": ""
            },
            {
              "name": "FailedRecords",
              "type": "Array",
              "value": []
            },
            {
              "name": "SuccessCount",
              "type": "Integer",
              "value": 0
            },
            {
              "name": "FailCountFunction",
              "type": "Integer",
              "value": 0
            },
            {
              "name": "FailCountD365",
              "type": "Integer",
              "value": 0
            },
            {
              "name": "RowKey",
              "type": "String",
              "value": ""
            },
            {
              "name": "D365Failed",
              "type": "Array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "manual": [
            "Succeeded"
          ]
        }
      },
      "Loop_FailedRecords": {
        "type": "ForEach",
        "inputs": {
          "forEach": "@triggerBody()?['failedRecords']",
          "actions": {
            "Append_to_FailedRecords": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "FailedRecords",
                "value": "@item()"
              }
            }
          }
        },
        "runAfter": {
          "Init_Counters": [
            "Succeeded"
          ]
        }
      },
      "Increment_FailCountFunction": {
        "type": "IncrementIntegerVariable",
        "inputs": {
          "name": "FailCountFunction",
          "value": "@length(triggerBody()?['failedRecords'])"
        },
        "runAfter": {
          "Loop_FailedRecords": [
            "Succeeded"
          ]
        }
      },
      "Query_CosmosDB": {
        "type": "AzureCosmosDB",
        "inputs": {
          "method": "GetItems",
          "query": "SELECT * FROM c WHERE c.IsExported = 'F'",
          "databaseId": "@appsetting('cosmos_database_id')",
          "containerId": "rms_tc01"
        },
        "runAfter": {
          "Increment_FailCountFunction": [
            "Succeeded"
          ]
        }
      },
      "Loop_CosmosDB_Records": {
        "type": "ForEach",
        "inputs": {
          "forEach": "@body('Query_CosmosDB')",
          "actions": {
            "Patch_CosmosDB_Record": {
              "type": "AzureCosmosDB",
              "inputs": {
                "method": "PatchItem",
                "id": "@item().id",
                "partitionKey": "@item().partitionKey",
                "body": {
                  "IsExported": "N"
                },
                "databaseId": "@appsetting('cosmos_database_id')",
                "containerId": "rms_tc01"
              }
            }
          }
        },
        "runAfter": {
          "Query_CosmosDB": [
            "Succeeded"
          ]
        }
      },
      "Try_Scope": {
        "type": "Scope",
        "actions": {
          "Get_Secret": {
            "type": "KeyVault",
            "inputs": {
              "method": "GetSecret",
              "secretName": "svt-action-token-body"
            }
          },
          "Post_Action_Token": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@appsetting('action_token_url')",
              "headers": "@appsetting('action_token_header')",
              "body": "@body('Get_Secret')"
            }
          },
          "Parse_Token_Response": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Post_Action_Token')",
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "Create_Journal_Header": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@appsetting('d365_ledger_journal_url')",
              "headers": {
                "Authorization": "@{concat('Bearer ', body('Parse_Token_Response')?.access_token)}"
              },
              "body": {
                "JournalName": "RMSTC",
                "Description": "@{concat('TGG_RMS_TC01_', utcNow('yyyy-MM-ddTHH:mm:ssZ'))}",
                "IntegrationKey": "",
                "dataAreaId": "302"
              }
            }
          },
          "Parse_Journal_Header_Response": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Create_Journal_Header')",
              "schema": {
                "type": "object",
                "properties": {
                  "JournalBatchNumber": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "Set_JournalBatchNumber": {
            "type": "SetVariable",
            "inputs": {
              "name": "JournalBatchNumber",
              "value": "@body('Parse_Journal_Header_Response')?.JournalBatchNumber"
            }
          },
          "Query_CosmosDB_For_Processing": {
            "type": "AzureCosmosDB",
            "inputs": {
              "method": "GetItems",
              "query": "SELECT * FROM c WHERE c.IsExported = 'N'",
              "databaseId": "@appsetting('cosmos_database_id')",
              "containerId": "rms_tc01"
            }
          },
          "Loop_CosmosDB_Records_For_Processing": {
            "type": "ForEach",
            "inputs": {
              "forEach": "@body('Query_CosmosDB_For_Processing')",
              "actions": {
                "Post_Journal_Line": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@appsetting('D365POSTLINESURL')",
                    "headers": {
                      "Authorization": "@{concat('Bearer ', body('Parse_Token_Response')?.access_token)}"
                    },
                    "body": {
                      "JournalBatchNumber": "@variables('JournalBatchNumber')",
                      "AccountType": "@item().AccountType",
                      "AccountDisplayValue": "@item().AccountDisplayValue",
                      "Text": "@item().Text",
                      "OffsetAccountDisplayValue": "@item().OffsetAccountDisplayValue",
                      "OffsetText": "@item().OffsetText",
                      "DocumentDate": "@{concat(formatDateTime(item().DocumentDate, 'yyyy-MM-ddTHH:mm:ssZ'))}",
                      "CreditAmount": "@item().CreditAmount",
                      "CurrencyCode": "@item().CurrencyCode",
                      "DebitAmount": "@item().DebitAmount",
                      "Document": "@item().Document",
                      "dataAreaId": "302"
                    }
                  }
                },
                "Patch_CosmosDB_Record_After_Post": {
                  "type": "AzureCosmosDB",
                  "inputs": {
                    "method": "PatchItem",
                    "id": "@item().id",
                    "partitionKey": "@item().partitionKey",
                    "body": {
                      "IsExported": "Y",
                      "JOURNALBATCHNUMBER": "@variables('JournalBatchNumber')"
                    },
                    "databaseId": "@appsetting('cosmos_database_id')",
                    "containerId": "rms_tc01"
                  }
                },
                "Increment_SuccessCount": {
                  "type": "IncrementIntegerVariable",
                  "inputs": {
                    "name": "SuccessCount",
                    "value": 1
                  }
                }
              }
            }
          },
          "Delay_5_Seconds": {
            "type": "Delay",
            "inputs": {
              "interval": {
                "count": 5,
                "unit": "Second"
              }
            }
          },
          "Post_Submit_To_Workflow": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@appsetting('submit_to_workflow')",
              "body": {
                "JournalBatchNumber": "@variables('JournalBatchNumber')",
                "dataAreaId": "302"
              }
            }
          },
          "Upsert_Table_Storage_Record": {
            "type": "AzureTables",
            "inputs": {
              "method": "UpsertEntity",
              "tableName": "D365FileStatus",
              "entity": {
                "PartitionKey": "RMS_TC01",
                "RowKey": "@{guid()}@{utcNow('yyyy-MM-ddTHH:mm:ssZ')}",
                "data_area_Id": "302",
                "is_auto_post": true,
                "journal_batch_number": "@variables('JournalBatchNumber')",
                "status": "@body('Post_Submit_To_Workflow')?.status",
                "success_count": "@variables('SuccessCount')",
                "total_count": "@triggerBody()?['totalRows']",
                "error": "@{concat('Function: ', variables('FailCountFunction'), ', D365: ', variables('FailCountD365'))}"
              }
            }
          },
          "Update_Table_Storage_Record": {
            "type": "AzureTables",
            "inputs": {
              "method": "UpdateEntity",
              "tableName": "IntegrationHealthSummary",
              "entity": {
                "PartitionKey": "@triggerBody()?['function']",
                "RowKey": "@triggerBody()?['summaryRowKey']",
                "d365Inserted": "@variables('SuccessCount')",
                "d365Failed": "@variables('FailCountD365')",
                "journalBatch": "@variables('JournalBatchNumber')",
                "status": "Done",
                "errorSummary": "@{concat('Function: ', variables('FailCountFunction'), ', D365: ', variables('FailCountD365'))}",
                "reported": false
              }
            }
          }
        },
        "runAfter": {
          "Loop_CosmosDB_Records": [
            "Succeeded"
          ]
        }
      },
      "Catch_Scope": {
        "type": "Scope",
        "actions": {
          "Send_Failure_Email": {
            "type": "Office365",
            "inputs": {
              "method": "SendEmail",
              "to": "@appsetting('failure_email_address')",
              "subject": "Errors in RMSTC01 SVT",
              "body": "@{concat('ENV: ', environment().name, ', Failure Notice: ', utcNow('yyyy-MM-ddTHH:mm:ssZ'))}"
            }
          }
        },
        "runAfter": {
          "Try_Scope": [
            "Failed",
            "TimedOut",
            "Skipped"
          ]
        }
      },
      "Post_Try_Scope": {
        "type": "If",
        "inputs": {
          "conditions": [
            {
              "expression": "@greater(length(variables('FailedRecords')), 0) || greater(length(variables('D365Failed')), 0)"
            }
          ],
          "actions": {
            "Send_Failure_Summary_Email": {
              "type": "Office365",
              "inputs": {
                "method": "SendEmail",
                "to": "@appsetting('failure_email_address')",
                "subject": "Failure Summary for RMSTC01 SVT",
                "body": "@{concat('<pre>RunId: ', triggerBody()?['runId'], ', Timestamp: ', utcNow('yyyy-MM-ddTHH:mm:ssZ'), ', JournalBatchNumber: ', variables('JournalBatchNumber'), '</pre><pre>Function Failure Count: ', variables('FailCountFunction'), ', D365 Success Count: ', variables('SuccessCount'), ', D365 Failure Count: ', variables('FailCountD365'), '</pre><pre>Function Failed Records:</pre>', string(variables('FailedRecords')), '<pre>D365 Failed Records:</pre>', string(variables('D365Failed')))}"
              }
            }
          }
        },
        "runAfter": {
          "Try_Scope": [
            "Succeeded",
            "Failed",
            "TimedOut",
            "Skipped"
          ]
        }
      }
    },
    "outputs": {}
  },
  "parameters": {}
}