workflows/generated/process-invoice/20260407_150720_attempt01.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              }
            },
            "required": [
              "amount"
            ]
          }
        }
      }
    },
    "actions": {
      "Check_invoice_amount": {
        "runAfter": {
          "When_HTTP_request_is_received": [
            "Succeeded"
          ]
        },
        "type": "If",
        "expression": {
          "greaterOrEquals": [
            "@triggerBody()['amount']",
            10000
          ]
        },
        "actions": {
          "Send_approval_email": {
            "runAfter": {},
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "sendMail",
              "body": {
                "Body": "Invoice amount exceeds 10000",
                "Subject": "Invoice Approval",
                "To": "approver@example.com"
              }
            }
          }
        }
      },
      "Save_invoice_to_Blob_Storage": {
        "runAfter": {
          "Check_invoice_amount": [
            "Succeeded",
            "Failed"
          ]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "createFile",
          "body": "@triggerBody()",
          "parameters": {
            "folderPath": "/invoices",
            "fileName": "@guid()"
          }
        }
      },
      "Return_200_OK_response": {
        "runAfter": {
          "Save_invoice_to_Blob_Storage": [
            "Succeeded"
          ]
        },
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200
        }
      }
    },
    "outputs": {}
  },
  "parameters": {
    "$connections": {
      "value": {
        "office365": {
          "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/office365"
        },
        "azureblob": {
          "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/azureblob",
          "connectionName": "azureblob",
          "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/azureblob"
        }
      }
    }
  }
}