workflows/generated/process-invoice/20260407_033035_attempt01.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{workflow().endpoint}"
        },
        "recurrence": {
          "frequency": "Start",
          "interval": 1
        }
      }
    },
    "actions": {
      "Check_Invoice_Amount": {
        "type": "If",
        "inputs": {
          "conditions": [
            {
              "expression": "@greaterOrEqual(body('manual')?['amount'], 10000)"
            }
          ]
        },
        "runAfter": {
          "manual": [
            "Succeeded"
          ]
        },
        "actions": {
          "Send_Approval_Email": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "sendMail",
              "body": {
                "Body": "Please approve the invoice",
                "Subject": "Invoice Approval",
                "To": "approver@example.com"
              }
            },
            "runAfter": {}
          }
        }
      },
      "Save_Invoice_to_Blob_Storage": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "createFile",
          "body": "@body('manual')",
          "parameters": {
            "folderPath": "/invoices",
            "fileName": "@guid()"
          }
        },
        "runAfter": {
          "Check_Invoice_Amount": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {
      "httpResponse": {
        "type": "Http",
        "inputs": {
          "method": "Response",
          "body": "Invoice processed successfully",
          "statusCode": 200
        },
        "runAfter": {
          "Save_Invoice_to_Blob_Storage": [
            "Succeeded"
          ]
        }
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "office365": {
          "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/office365"
        },
        "azureblob": {
          "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/azureblob",
          "connectionName": "azureblob",
          "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/azureblob"
        }
      }
    }
  }
}