workflows/generated/process-invoice/20260407_035852_attempt03.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "type": "object",
      "value": {
        "office365": {
          "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/office365"
        },
        "azureblob": {
          "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/azureblob",
          "connectionName": "azureblob",
          "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/azureblob"
        }
      }
    }
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{workflow().endpoint}/HttpTrigger"
        },
        "recurrence": {
          "frequency": "Start",
          "interval": 1
        }
      }
    },
    "actions": {
      "Check_Invoice_Amount": {
        "type": "If",
        "inputs": {
          "conditions": [
            {
              "expression": "@greaterOrEqual(body('manual')?['amount'], 10000)"
            }
          ]
        },
        "runAfter": {
          "manual": [
            "Succeeded"
          ]
        },
        "actions": [
          {
            "Send_Approval_Email": {
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "Body": "Please approve the invoice",
                  "Subject": "Invoice Approval",
                  "To": "approver@example.com"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "sendMail",
                "path": "/v2/Mail"
              },
              "runAfter": {}
            }
          }
        ],
        "else": {
          "actions": []
        }
      },
      "Save_Invoice_to_Blob_Storage": {
        "type": "ApiConnection",
        "inputs": {
          "body": "@body('manual')",
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "putBlock",
          "path": "/datasets/default/files"
        },
        "runAfter": {
          "Check_Invoice_Amount": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {
      "HTTP_Response": {
        "type": "Http",
        "inputs": {
          "body": "Invoice processed successfully",
          "method": "POST",
          "statusCode": 200
        },
        "runAfter": {
          "Save_Invoice_to_Blob_Storage": [
            "Succeeded"
          ]
        }
      }
    }
  }
}