workflows/failed/process-invoice/20260407_073424_attempt03_FAILED.json
{
  "_metadata": {
    "workflow_name": "process-invoice",
    "attempt": 3,
    "timestamp_utc": "2026-04-07T07:34:24.734802+00:00",
    "errors": [
      "ERROR: Method Not Allowed(<Error><Message>The requested resource does not support http method 'PUT'.</Message></Error>)"
    ]
  },
  "workflow": {
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "triggers": {
        "manual": {
          "type": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "invoice": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "amount"
                  ]
                }
              },
              "required": [
                "invoice"
              ]
            },
            "method": "POST"
          }
        }
      },
      "actions": {
        "condition": {
          "type": "If",
          "inputs": {
            "conditions": [
              {
                "expression": "@greaterOrEquals(body('manual')?['invoice']?['amount'], 10000)"
              }
            ]
          },
          "actions": {
            "sendApprovalEmail": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "Subject": "Invoice Approval Required",
                  "Body": {
                    "Content": "Please approve the invoice",
                    "ContentType": "HTML"
                  },
                  "To": "approver@example.com"
                }
              },
              "runAfter": {}
            }
          },
          "runAfter": {
            "manual": [
              "Succeeded"
            ]
          }
        },
        "saveInvoiceToBlob": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/default/files",
            "body": {
              "Content": "@{body('manual')}",
              "Name": "invoice.json"
            }
          },
          "runAfter": {
            "condition": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {
        "httpResponse": {
          "type": "Http",
          "statusCode": 200
        }
      }
    },
    "parameters": {
      "$connections": {
        "value": {
          "office365": {
            "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/office365",
            "connectionName": "office365",
            "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/office365"
          },
          "azureblob": {
            "connectionId": "/subscriptions/your_subscription_id/resourceGroups/your_resource_group/providers/Microsoft.Web/connections/azureblob",
            "connectionName": "azureblob",
            "id": "/subscriptions/your_subscription_id/providers/Microsoft.Web/locations/your_location/managedApis/azureblob"
          }
        }
      }
    }
  }
}